@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Exercice de formulaire</h1>
    <div id="message">
        <p>
            @TempData["message"]
        </p>
    </div>
</div>
